{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="{% url 'home:home_index'%}">Home</a></span> <span>Reset password</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">The password has been changed.</h1>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ftco-animate">
                <div class="p-5 bg-light text-center">
                    <div class="icon mb-4">
                        <span class="icon-check-circle" style="font-size: 4rem; color: #1ABC9C;"></span>
                    </div>
                    <h3 class="mb-4">The password has been changed successfully!</h3>
                    <p class="mb-4">Your password has been changed successfully. You can now log in using the new password.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary py-3 px-5">login</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
