{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="{% url 'home:home_index'%}">Home</a></span> <span>Set a new password</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Set a new password</h1>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ftco-animate">
                <div class="p-5 bg-light">
                    {% if validlink %}
                        <h3 class="mb-4 text-center">Set a new password</h3>
                        <p class="mb-4">Please enter (and confirm) your new password..</p>
                        <form method="POST" class="p-3">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary py-3 px-5 w-100">Change password</button>
                            {% endbuttons %}
                        </form>
                    {% else %}
                        <div class="text-center">
                            <div class="icon mb-4">
                                <span class="icon-times-circle" style="font-size: 4rem; color: #dc3545;"></span>
                            </div>
                            <h3 class="mb-4">Failed to reset the password</h3>
                            <p class="mb-4">The password reset link is invalid, possibly because it has already been used. Please request a new password reset..</p>
                            <a href="{% url 'password_reset' %}" class="btn btn-primary py-3 px-5">Request for a new reset</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

